<header  class="header">
     <div class="text-vertical-center">
       <div id="logo-text">
         <h1>It's Time to Mobilize</h1>
         <h3>Join us in our fight against Trump policies</h3>
       </div>
     </div>
 </header>
