<header  class="header">
     <div class="text-vertical-center">
       <div id="logo-text">
         <h1>It's Time to Mobilize</h1>
         <h3>Join us in our fight against Trump policies</h3>
         <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
       </div>
     </div>
 </header>

 <!-- About -->
     <section id="about" class="about">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2><bold>About Us<bold></h2>
                     <p><h4>We are a grassroots movement tool that helps organize and mobilize<br>
                        people to take political action. President's Trump policies will hurt<br>
                        millions of Americans. From kicking 20 million people off of Healthcare,<br>
                        defunding Plant Parenthood, withdrawing from the Paris Climate Agreement and creating<br>
                        a cabinet of Billionaires for Billionaires. It is time to mobilize and take action!<h4></p>
                 </div>
             </div>
             <!-- /.row -->
         </div>
         <!-- /.container -->
     </section>

     <!-- Services -->
     <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
     <section id="services" class="services bg-primary">
         <div class="container">
             <div class="row text-center">
                 <div class="col-lg-12">
                     <h2>It's Easy</h2>
                     <hr class="small">
                     <div class="row">
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-user-plus fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Sign Up</strong>
                                 </h4>
                                 <p>Create an account an join many others in taking action.</p>
                             </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-calendar fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Create a protest</strong>
                                 </h4>
                                 <p>Create an event an invite friends. It can be a call
                                    for a Town Hall meeting or a debate watch party.</p>
                             </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-address-book-o fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Invite Friends</strong>
                                 </h4>
                                 <p>Tell your friends about it, provide transportation
                                    if your going to an event an have space in your car.</p>
                             </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-heart fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Bring Change</strong>
                                 </h4>
                                 <p>It is time to send a message to our representatives
                                    you represent us not just the top 1%.</p>
                             </div>
                         </div>
                     </div>
                     <!-- /.row (nested) -->
                 </div>
                 <!-- /.col-lg-10 -->
             </div>
             <!-- /.row -->
             <div class="text-center">
               <a href="#" class="btn btn-light">Learn More</a>
            </div>
         </div>
         <!-- /.container -->
     </section>

     <!-- Callout -->
     <aside class="callout">
         <div class="text-vertical-center">
             <h1>Take Action!</h1>
         </div>
     </aside>
